/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root{
    --main-color: #a800a8;
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-900: #000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --white: #fff;
    --black-alpha-100: rgba(0,0,0,0.05)
}
body{
    font-family: "Kaushan Script", cursive;
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
    background-color: var(--white);
}
*{
    margin: 0;
    padding: 0;
    outline: none !important;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a,a:hover{
    text-decoration: none;
}
.btn-1 {
    background-color: var(--main-color);
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    color: var(--white);
    font-size: 16px;
    text-transform: capitalize;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
    transition: all 0.5s ease;
    margin-bottom: 15px; /* Added margin for spacing */
}

.btn-2 {
    background-color: var(--white);
    padding: 15px 40px;
    margin-top: 20px; /* Adjust this value as needed */
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
    transition: all 0.5s ease;
}

.btn-1:hover {
    color: var(--main-color);
    background-color: var(--white);
}
.section-padding {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 60px;
}
.section-title h4 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: var(--black-900);
    text-transform: capitalize;
}
.section-title h2 {
    text-align: center;
    color: var(--black-900);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.section-title h2 span {
    color: var(--main-color);
}



/* navbar */
.navbar{
    background-color: var(--white);
    padding: 30px 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.08);
}
.navbar.navbar-shrink {
    padding: 20px 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: all 0.5s ease;
}
.navbar > .container{
    padding: 0 15px;
}
.navbar .navbar-brand{
    font-size: 30px;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
}
.navbar .nav-item {
    margin-left: 35px;
}
.navbar .nav-item .nav-link {
    color: var(--black-400);
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}
.navbar .nav-item .nav-link::before{
    position: absolute;
    content: "";
    height: 0;
    background-color: var(--main-color);
    width: 3px;
    left: 50%;
    top: -45px;
    transform: translateX(-50%);
    transition: all 0.3s ease-out 0s;
}
.navbar .nav-item .nav-link.active,
.navbar .nav-item .nav-link:hover{
    color: var(--main-color);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    height: 45px;
}

/* home section  */
.header-content {
    background-color: #fbfbfb;
    height: 800px;
    padding-top: 110px;
    position: relative;
    overflow: hidden;
}
#parallax {
    position: absolute !important;
    height: 100%;
    width: 100%;
}
.header-shape {
    position: absolute !important;
}
.header-shape.shape-one {
    top: 4.5% !important;
    left: 0 !important;
}
.header-shape.shape-two {
    top: 2.5% !important;
    left: 20% !important;
}
.header-shape.shape-three {
    top: 3% !important;
    left: 40% !important;
}
.header-shape.shape-four {
    top: 8% !important;
    right: 7.6% !important;
    left: auto !important;
}
.header-shape.shape-five {
    right: 30px !important;
    bottom: 36% !important;
    left: auto !important;
    top: auto !important;
}
.header-shape.shape-six {
    top: 44% !important;
    left: 13% !important;
    transform: translateY(-50%);
}
.header-shape.shape-seven {
    left: 30px !important;
    bottom: 10% !important;
    top: auto !important;
}
.header-shape.shape-eight {
    left: 90px !important;
    bottom: 140px !important;
    top: auto !important;
}
.header-shape.shape-nine {
    left: 50% !important;
    transform: translateX(-50%);
    bottom: 28px !important;
    top: auto !important;
}
.header-shape.shape-ten {
    right: 30px !important;
    bottom: 10% !important;
    top: auto !important;
    left: auto !important;
}

.home-text h4 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 8px;
    color: var(--main-color);
}
.home-text h1 {
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 8px;
    color: var(--black-900);
}
.home-text p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: var(--black-400);
    padding-bottom: 30px;
}
.home-img {
    max-width: 400px;
    width: 60%;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 767px) {
    .home-img {
        max-width: 120px; /*Adjusted for smaller size on mobile*/
    }

}

.home-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 80%;
    border: 7px solid var(--main-color);

    border-bottom: none;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
}
.home-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    background-color: var(--main-color);    
    bottom: 0px;
    left: 0;
    z-index: 11;
}
.home-img img {
    position: relative;
    z-index: 5;
}

/* header social */
.header-social {
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: 100%;
}
.header-social .header-social-icon {
    position: relative;
}
.header-social .header-social-icon::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    left: -102.5%;
    top: 50%;
    transform: translateY(-50%);
}
.header-social .header-social-icon ul li {
    display: inline-block;
    margin-right: 13px;
}
.header-social .header-social-icon ul li:last-child {
    margin-right: 0;
}
.header-social .header-social-icon ul li a {
    color: #ccc;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-align: center;
    transition: all 0.3s ease-out 0s;
}
.header-social .header-social-icon ul li a:hover {
    color: var(--white);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.about-content .about-title {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 15px;
}
.about-content .about-title span {
    color: var(--main-color);
}
.about-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--black-400);
    margin: 0px;
}
.about-content ul {
    padding-top: 15px;
}
.about-content ul li {
    width: 50%;
    float: left;
    margin-top: 5px;
}
.about-content .single-info .info-icon {
    width: 18px;
    text-align: center;
}
.about-content .single-info .info-icon i {
    font-size: 16px;
    display: inline-block;
    color: var(--main-color);
}
.about-content .single-info .info-text {
    padding-left: 15px;
}
.about-content .single-info .info-text p span {
    color: var(--black-900);
    font-weight: 500;
}
.hire-me {
    background-color: var(--main-color);
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    color: var(--white);
    font-size: 16px;
    text-transform: capitalize;
    display: inline-block;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
    transition: all 0.5s ease;
}
.hire-me:hover {
    background-color: var(--white);
    color: var(--main-color);
}

#skill-bar-wrapper {
    margin-top: 30px;
}
.text-left h4 {
    font-size: 16px;
    padding-top: 15px;
    font-weight: 600;
}
.skillbar-container {
    position: relative;
    display: block;
    margin-top: 15px;
    width: 100%;
    background-color: rgba(187,23,23,0.1);
    height: 5px;
}
.skills {
    height: 6px;
    width: 0;
    background-color: var(--main-color);
}

/* project section */
.project {
    background-color: var(--black-100);
}
.projects-container {
    display: flex;
    justify-content: center;  /* Centers the divs horizontally */
    align-items: center;      /* Centers them vertically if needed */
    gap: 20px;                /* Adds spacing between the divs */
    flex-wrap: wrap;          /* Ensures responsiveness */
}
.project {
    width: 45%;               /* Adjust width to fit side by side */
    min-width: 300px;         /* Ensures responsiveness on small screens */
    text-align: center;       /* Centers text inside the div */
}
.project-item {
    width: 100%;  
    max-width: 350px; 
    text-align: center;
    box-shadow: var(--shadow-black-100);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s ease;

}
.project-item:hover{
    background-color: var(--main-color);
}
.project-item .icon {
    height: 60px;
    width: 60px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 30px;
    color: var(--white);
    position: relative;
    z-index: 1;
}
.project-item:hover .icon::before {
    background-color: var(--white);
}
.project-item:hover .icon {
    color: var(--main-color);
    font-size: 20px;
}

.project-item .icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 20px;
    border-bottom-right-radius: 0;
    z-index: -1;
    transition: all 0.3s ease;
}
.project-item .icon i {
    line-height: 60px;
}
.project-item h3 {
    font-size: 22px;
    margin: 0 0 20px;
    color: var(--black-900);
    font-weight: 500;
    text-transform: capitalize;
}
.project-item:hover h3 {
    color: var(--white);
}
.project-item p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: var(--black-400);
    margin: 0 0 15px;
}
.project-item:hover p {
    color: var(--white);
}

/* portfolio */
/* call to action */
.call-to-action {
    background: url(../images/background.jpg);
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.call-to-action::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.8;
}
.call-action-content .action-title {
    font-size: 45px;
    font-weight: 700;
    color: var(--white);
    padding-bottom: 30px;
}
.call-action-content p {
    color: var(--white);
    padding-bottom: 25px;
}
.call-action-content ul li {
    display: inline-block;
    margin: 10px 15px 0;
}
.btn-2 {
    background-color: var(--white);
    padding: 15px 40px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
    transition: all 0.5s ease;
}
.btn-2:hover {
    color: var(--white);
    background-color: var(--main-color);
}

/* contact me  */
.contact {
    background-color: var(--shadow-black-100);
}
.contact-info h3 {
    font-size: 22px;
    color: var(--black-900);
    font-weight: 500;
    margin: 0 0 40px;
}
.contact-info-item {
    position: relative;
    padding-left: 55px;
    margin-bottom: 30px;
}
.contact-info-item i {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
    border-radius: 50%;
    font-size: 16px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    text-align: center;
    line-height: 38px;
}
.contact-info-item h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px;
    color: var(--black-900);
}
.contact-info-item p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    line-height: 26px;
    color: var(--black-400);
}

.contact-form .form-group {
    margin-bottom: 25px;
}
.contact-form .form-control {
    height: 52px;
    border: 1px solid transparent;
    box-shadow: var(--shadow-black-100);
    border-radius: 30px;
    padding: 0 25px;
    color: var(--black-900);
    background-color: var(--white);
    transition: 0.5s ease;
}
.contact-form textarea.form-control {
    height: 140px;
    padding: 12px;
    resize: none;
}
.contact-form .form-control:focus {
    border-color: var(--main-color);
}

.footer {
    background-color: var(--main-color);
}
.footer .copyright-text {
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    color: rgba(255,255,255,0.9);
    font-weight: 300;
    margin: 10px 0 0;
}

/* responsive */
@media (max-width: 991px) {
    .header-content {
        height: 640px;
    }
    .navbar-toggler {
        background-color: var(--main-color);   
        height: 34px;
        width: 44px;
        padding: 0;
        font-size: 17px; 
        color: var(--white);
    }
    .navbar-nav {
        background-color: var(--white);
    }
    .navbar .nav-item {
        margin: 0;
        padding: 5px 15px;
    }
    .navbar .nav-item .nav-link::before {
        display: none;
    }
}

@media (max-width: 767px) {
    .call-action-content ul li {
        margin-bottom: 20px; /* Ensure spacing for mobile */
    }

    .header-shape.shape-one img {
        width: 40px;
    }
    .header-shape.shape-two img {
        width: 40px;
    }
    .header-shape.shape-three img {
        width: 100px;
    }
    .header-shape.shape-four img {
        width: 40px;
    }
    .header-shape.shape-five img {
        width: 40px;
        right: 25px !important;
        bottom: 50% !important;
    }
    .header-shape.shape-six img {
        width: 40px;
    }
    .header-shape.shape-seven img {
        width: 40px;
        left: 20px !important;
        bottom: 35px !important;
    }
    .header-shape.shape-eight img {
        width: 100px;
        left: 50px !important;
        bottom: 35px !important;
    }
    .header-shape.shape-nine img {
        width: 100px;
        left: 65% !important;
        bottom: 20px !important;
    }
    .header-shape.shape-ten img {
        width: 100px;
        left: 0px !important;
    }
    .header-shape.shape-seven img {
        width: 40px;
        left: 20px !important;
        bottom: 35px !important;
    }
    .header-shape.shape-eight img {
        width: 100px;
        left: 50px !important;
        bottom: 35px !important;
    }
    .header-shape.shape-nine img {
        width: 100px;
        left: 65% !important;
        bottom: 20px !important;
    }
    .header-shape.shape-ten img {
        width: 100px;
        left: 0px !important;
        bottom: 15px !important;
    }
    .home-text h4 {
        font-size: 24px;
    }
    .home-text h1 {
        font-size: 40px;
    }
    .about-content ul li {
        width: 100%;
        float: none;
    }

}
